<nav class="navbar navbar-expand-md py-4 border-bottom px-md-3">
  <a class="navbar-brand py-0" [routerLink]="['/home']">
    <img class="svg-img" src="/images/logo-header.png" alt="Logo" />
  </a>

  <button class="navbar-toggler pe-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </button>

  <div class="collapse navbar-collapse pe-4 mt-4 mt-md-0" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-md-0 d-md-flex align-items-md-center ms-4 ms-md-auto">
      <li class="nav-item mb-2 mb-md-0">
        <div class="cart me-5" [routerLink]="['/cart']">
          <span class="cart-count" *ngIf="cartService.getCartItems().length">{{cartService.getCartItems().length}}</span>
          <img src="/images/cart icon.svg" alt="">
        </div>
      </li>
      <li class="nav-item mb-2 mb-md-0">
        <button type="button" class="btn btn-outline-primary rounded-0 py-2 border-primary text-primary me-4 bg-white">
          Log In
        </button>
      </li>
      <li class="nav-item mb-2 mb-md-0">
        <button type="button" class="btn btn-primary rounded-0 py-2 border-primary bg-primary">Sign Up</button>
      </li>
    </ul>
  </div>
</nav>