<div class="top-courses">
  <h3>Top Courses</h3>
  <div class="categories">
    <button *ngFor="let category of categories" class="category-btn"
      [ngClass]="{ active: selectedCategory === category.name }" (click)="filterCourses(category.name)">
      {{ category.name }}
    </button>
  </div>

  <div class="row p-4 p-md-0 mt-md-5">
    <div class="col-sm-6 col-lg-4 col-xxl-3" *ngFor="let course of filteredCourses">
      <div class="card">
        <div class="position-relative">
          <img class="card-img-top" [src]="course.image" alt="Course Image">
          <div class="overlay"></div>
          <span class="badge" *ngIf="course.discount">-${{ course.discount }}</span>
          <a class="add-to-cart">
            <img src="/images/white-Icon.svg" alt="Play Button" class="play-button" (click)="addToCart(course)">
          </a>
        </div>
        <div class="card-body px-0 pb-0">
          <div class="course-meta">
            <span class="text-primary">{{ course.price | currency }}</span>
            <span class="card-category">{{ course.category }}</span>
          </div>
          <h5 class="card-title">{{ course.title }}</h5>
          <p>By {{ course.author }}</p>
          <p *ngIf="course.ratingCount" class="rating">
            <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]">★</span>
            <span>
              &nbsp;({{ course.ratingCount }} Ratings)
            </span>
          </p>
          <p>
            {{ course.hours }} Total Hours.
            {{ course.lectures }} Lectures.
            {{ course.level }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>