<!-- gallery-fullscreen.component.html -->
<div class="gallery-fullscreen-modal" (click)="closeGallery()">
  <div class="modal-content" (click)="stopPropagation($event)">
    <div class="modal-header">
      <button class="close-btn" (click)="closeGallery()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
          <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
        </svg>
      </button>
    </div>
    
    <div class="fullscreen-content">
      <div class="fullscreen-image">
        <img [src]="images[currentIndex].image" [alt]="'Gallery image ' + images[currentIndex].id">
      </div>
      
      <div class="fullscreen-navigation">
        <button class="nav-btn prev-btn" (click)="prevSlide()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
          </svg>
        </button>
        <div class="fullscreen-counter">
          {{ currentIndex + 1 }} / {{ images.length }}
        </div>
        <button class="nav-btn next-btn" (click)="nextSlide()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
          </svg>
        </button>
      </div>
      
      <div class="fullscreen-thumbnails">
        <div class="thumbnails-container">
          <div *ngFor="let image of images; let i = index" 
               class="thumbnail" 
               [ngClass]="{'active': i === currentIndex}"
               (click)="goToSlide(i)">
            <img [src]="image.image" [alt]="'Thumbnail ' + (i + 1)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>