<div class="gallery-section">
  <div class="box d-none d-xxl-block">
    <div class="circl"></div>
  </div>
  <div class="container p-4">
    <div class="row">
      <div class="col-xxl-5 d-flex flex-column justify-content-center">
        <div class="gallery-content">
          <h2 class="gallery-title">
            <span class="highlight">Check</span> our latest
            <br>Media Gallery
          </h2>
          <p class="gallery-description">
            Every picture holds a moment,
            <br>every moment holds a story
          </p>
          <button class="btn-view-all" (click)="openFullscreenGallery()">View all Photos</button>
        </div>
      </div>

      <div class="col-xxl-7 mt-lg-5 mt-xxl-0">
        <div class="gallery-slider" *ngIf="galleryService.sliderImages.length">
          <div class="images-stack">
            <div class="main-image">
              <img [src]="galleryService.sliderImages[galleryService.currentIndex].image" alt="Gallery Image">
              <div class="expand-icon" (click)="openFullscreenGallery()">
                <img src="/images/gallery.svg" alt="">
              </div>
            </div>

            <div *ngFor="let i of [1, 2]" class="stacked-image stacked-image-{{i}}"
              [ngStyle]="{'background-image': 'url(' + getImageForPosition(i) + ')'}">
            </div>
          </div>

          <div class="images-slider">
            <div class="slider-track"
              [ngStyle]="{'transform': 'translateX(calc(' + (-galleryService.currentIndex * 90) + '% - ' + (galleryService.currentIndex * 10) + 'px))'}">
              <div class="slide" *ngFor="let image of galleryService.sliderImages">
                <img [src]="image.image" [alt]="'Gallery image ' + image.id">
              </div>
            </div>
          </div>

          <div class="slider-controls">
            <div class="navigation-arrows">
              <button class="nav-btn nav-btn-1" (click)="prevSlide()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path
                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                </svg>
              </button>
              <button class="nav-btn nav-btn-2" (click)="nextSlide()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path
                    d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                </svg>
              </button>
              <div class="slider-pagination">
                <div class="pagination-progress">
                  <div class="progress-container">
                    <div class="progress-bar" [style.width]="(galleryService.currentIndex + 1) / galleryService.sliderImages.length * 100 + '%'"></div>
                  </div>
                  <div class="slider-counter">
                    {{ galleryService.currentIndex + 1 }} / {{ galleryService.sliderImages.length }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>