<div class="cart">
  <app-breadcrumb [items]="items"></app-breadcrumb>

  <div class="row">
    <div class="col-lg">
      <app-page-title [title]="'Shopping Cart'"></app-page-title>
      <hr>

      <div class="course-count">{{ courseCount }} Course(s) in cart</div>
      <div class="cart-items">
        <app-cart-course-item *ngFor="let course of cartService.cartItems" [course]="course" (remove)="removeFromCart($event)">
        </app-cart-course-item>
      </div>
    </div>

    <div class="col-lg-4" *ngIf="cartService.subtotal">
      <app-order-details [subtotal]="cartService.subtotal" [discount]="cartService.discount" [tax]="cartService.tax" [total]="cartService.total"
        (checkout)="proceedToCheckout()"></app-order-details>
    </div>
  </div>
</div>